.personal-page {
  display: flex;
  width: 90%;
  margin: auto;
}
.personal-page .left-panel {
  background-color: aliceblue;
  padding: 60px 20px;
  border-radius: 12px;
  width: 15%;
}
.personal-page .left-panel .panel-component {
  font-size: 24px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}
.personal-page .left-panel .panel-component:hover {
  background-color: floralwhite;
  cursor: pointer;
}
.personal-page .container {
  width: 85%;
}
.personal-page .container .info {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
  font-size: 24px;
}
.personal-page .container .info input {
  margin: 5px;
  min-height: 20px;
  font-size: 20px;
}
.personal-page .container .info img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 150px;
}

#post-container .records-list .record-item {
  border: 2px solid green;
  padding: 20px;
  background: whitesmoke;
  width: 40%;
  margin: auto;
  margin-bottom: 40px;
}
#post-container button {
  margin: auto;
  margin-bottom: 20px;
  display: block;
  width: 150px;
  height: 25px;
  border-radius: 6px;
}

